*{
    margin: 0;

}

body {
  background-color: white;
  /* display: flex; */
  justify-content: center;
  /*  //align-items:center; */
}
.content {
  max-width: 80%;
  margin: auto;
  background: white;
  padding: 10px;
}
.resume_header {
  background-color: gray;
  height: 250px;
  display: flex;
  justify-content: center;
}
#img {
  justify-content: center;
  padding-top: 5%;
  height: 30vh;
  border-radius: 50%;
  width: 100%;
  border-color: yellow;
  border-width: 8px;
  
}
/* .image-border {
  border-width: 8px;
  border-radius: 50%;
 
  border-style: dotted;
  
} */
.resume_header3 {
  background-color: rgb(172, 29, 29);
  margin-top: 0%;
}
.resume_header4 {
  background-color: gray;
  margin-top: 0%;
}
#hbar {
  width: 100%;
  height: 4vh;
  background-color: aliceblue;
}
#hbar2 {
  width: 100%;
  height: 4vh;
  background-color: gray;
}
#name {
  background-color: yellow;
  margin-top: 10%;
  width: 30%;
  /* border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%; */
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  margin: 20px;
  position: absolute;
  top:25%;
  height:10%;
}
#address {
  font-size: 20px;
  text-align: center;
}

.split {
  width: 50%;
  height: 50%;
  float: left; 
  margin-left:5%;
  
}

.icon i {
  background-color: gray;
  width: 10%;
  height: 8vh;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  border-style: dotted;
  border-color: yellow;
  float: left;  
  margin-right: 10px;
}
.icon > h2 {
margin-left: 10%;
margin-top: 10%;
color: gray;
}
.fa-solid {
  color: yellow;
}
.skills_title{
    text-align: center;
    color: black;
}
.range{
    color: yellow;
}
